<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=THOMAS-PC\TOMASSQLEXPRESS;Initial Catalog=MATRICULA_TOMAS_CHEVEZ;Integrated Security=True"/>
  </appSettings>
</configuration>